.aboutmember {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: var(--lightgreen); */
  font-family: "Bebas Neue", sans-serif;
}
.member {
  width: 70%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--lightgreen); */
  background: url("https://static.vecteezy.com/system/resources/previews/035/978/179/non_2x/ai-generated-indian-ayurveda-herbal-medicine-free-photo.jpg");

  background-position: center;
  background-size: cover;
  /* margin-left: 200px; */
  border-radius: 20px;
  padding: 0px 80px;
  gap: 10rem;
}
.membershadow {
  width: 82%;
  position: absolute;
  z-index: 2;
  height: 450px;
  border-radius: 20px;
  background-color: rgba(0, 128, 0, 0.285);
}
.img {
  width: 16rem;
  height: 20rem;
  border-radius: 50%;
  position: relative;
  z-index: 5;
  border: 5px solid white;
}
.h55 {
  /* color: var(--yellow); */
  color: white;

}
.h11 {
  /* color: var(--darkgreen); */
  color: white;
  font-size: 2.6rem;
  position: relative;
  z-index: 5;
}
.paragraph {
  width: 80%;
  color: var(--lightgreen);
  color: white;
  position: relative;
  z-index: 5;
  font-size: 1rem;
}
.aboutmember .heritage {
  font-size: 3rem;
  font-weight: 600;
  /* line-height: 1rem; */
  color: var(--yellow);
  /* border: 1px solid; */
}
